.footer {
    border-top: 2.5px solid #00ACEE;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    p {
        font-weight: bold;
    }

.team {
    margin-top: 20px;
    border-top: 1px solid #00ACEE;
    padding-top: 10px;

    p {
        font-weight: bold;
    }
  }
  }