.footer {
    background-color: #00acee;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

    p {
        font-weight: bold;
    }

.team {
    margin-top: 20px;
    border-top: 1px solid #ffffff;
    padding-top: 10px;

    p {
        font-weight: bold;
    }
  }
  }