.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #00acee;
    border-radius: 8px;
  }
  
  label,
  input,
  select {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #00acee;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }