.button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #BA1200;
    transition: background-color 0.3s ease;

    @media (max-width: 768px) {
        .button {
            font-size: 14px; 
            padding: 8px 16px; 
        }
    }
    
    @media (max-width: 480px) {
        .button {
            font-size: 12px; 
            padding: 6px 12px; 
        }

    }
}